.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./assets/banner.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }